body{
  background-color:black;
  color:seashell;
  display:flex;
  flex-direction:column;
 /*  justify-content:center; */
  text-align:center;
  font-family:Helvetica;
  font-size:22px;
  opacity:0.9;
}

header{
  border-bottom: 1px solid seashell;
  height:69px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  position:fixed;
  z-index:5;
  width:100%;
  background-color:black;
}
.logo{
  display:flex;
  align-content:center;
  height:50px;
  margin-left:10px;
}
.topnav{
  display:flex;
  align-items:center;
}
.topnav a{
  color:seashell;
  margin-right:25px;
}

#mission{
  display:flex;
  flex-direction:column;
  justify-content:center;
  position:relative;
  margin:100px auto 50px auto;
  width:1200px;
  height:700px;
}

#mission span{
  display:flex;
  flex-direction:column;
  position:absolute;
  width:100%;
 
  justify-content:center;
  background-color:black;
}
.mission-background{
  display:flex;
  justify-content:center;
  z-index:-1;
}

#featuredtea{
  display:flex;
  flex-direction:column;
  margin:75px auto 50px auto;
  width:1000px;
 
}

.products{
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap:wrap;
}

.product-highlight{
  margin-right:20px;
}
.product-highlight img{
  height:200px;
  width:300px;
}

#locations{
  display:flex;
  flex-direction:column;
  width:1200px;
  height:500px;
  /* position:relative; */
  margin: 25px auto 15px auto;
}

.store-locations{
 display:flex;
 flex-direction:row;
 justify-content:center;
   align-content:center;
  flex-wrap:wrap;
}

.location{
  display:flex;
  flex-direction:column;
  background-color:black;
  width:300px;
}

.locations-background{
  z-index:-2;
}




